---
---

<section id="screen-about">
    <article>
        <header>
            <h2>SCREEN ABOUT</h2>
        </header>
        <div class="content">Lorem ipsum...</div>
        <p class="alert">Si lees esto me debes un besito</p>
    </article>
</section>
