---
import AboutV from "./vue/about.vue"
---

<section id="screen-about">
    <article>
        <header>
            <h2>About</h2>
        </header>
        <div class="content">
            <p>I dit this just for the sake to learn astro</p>
            <p>I hope you like it</p>
            <AboutV client:load/>
        </div>
      
    </article>
</section>