---

---

<script defer>
  function submitForm(e) {
    const contactText = document.querySelector('#contact-text').classList;
    contactText.toggle('d-none');
  }
</script>
<section id="screen-contact">
  <div class="parent">
    <form class="f_form">
      <div class="grid_inputs">
        <label for="name">Name:</label>
        <input
          class="f_input"
          type="text"
          id="name"
          name="name"
          placeholder="Your name.."
        />
      </div>
      <div class="grid_inputs">
        <label for="email">Email:</label>
        <input
          class="f_input"
          type="text"
          id="email"
          name="email"
          placeholder="Your email.."
        />
      </div>
      <div class="grid_inputs">
        <label for="subject">Subject:</label>
        <textarea
          cols="21"
          class="f_textarea"
          id="subject"
          name="subject"
          placeholder="Subject.."
        />
      </div>
      <button class="f-button w-full" type="button" onclick="submitForm()">Submit</button>
    </form>
  </div>
</div>
<div id="contact-text" class="d-none">
  <p>This feature is not implement because it is a demo but i'm glad you liked enough to contact me.
    You can contact me on <a href="https://www.linkedin.com/in/christiangranadorodriguez">LinkedIn</a>
    or <a href="https://www.instagram.com/_kiraso/">Instagram</a> 
  </p>
</section>

<script>
  document.querySelectorAll(".f_input").forEach((input) => {
    input.addEventListener("input", () => {
      const sounds = [
        "sound/type.wav",
        "sound/type2.wav",
        "sound/type3.wav",
        "sound/type4.wav",
      ];
      const randomSound = sounds[Math.floor(Math.random() * sounds.length)];
      const audio = new Audio(randomSound);
      audio.play();
    });
  });
</script>
