---
const columns = [
  "Strength",
  "Perception",
  "Endurance",
  "Charisma",
  "Agility",
  "Intelligence",
  "Luck",
];
const data = [8, 5, 10, 8, 3, 6, -1];
---

<section id="screen-hero">
  <div class="grid">
    <div>
      <img
        style="display:block;
    margin:auto;"
        src="/img/avatar_f.png"
        alt=""
      />
    </div>
    <div style="padding-right: 5%; justify-content: center;">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum
    </div>
  </div>

  <table style=" width: 100%;">
    <thead>
      <tr>
        {columns.map((column) => <td>{column}</td>)}
      </tr>
    </thead>
    <tbody>
      <tr class="table-data">
        {data.map((d) => <td>{d}</td>)}
      </tr>
    </tbody>
  </table>
</section>
